---
const features = [
  {
    title: 'Sabores excelsos',
    description: 'Un magnifico menú que selecciona los mejores platillos.',
    icon: '/img/Icons/Icono1.svg' // Reemplaza por el ícono que desees
  },
  {
    title: 'Magnifica atención',
    description: 'Priorisamos que la experiencia de nuestros clientes sea increible.',
    icon: 'https://via.placeholder.com/64x64.png?text=Icon2' // Reemplaza por el ícono que desees
  },
  {
    title: 'Vistas increibles',
    description: 'La hacienda San José Chakán ofrece vistas magnificas adornadas por naturaleza sin igual.',
    icon: 'https://via.placeholder.com/64x64.png?text=Icon3' // Reemplaza por el ícono que desees
  }
];
---

<section id="WHY" class="bg-gray-900 py-16 px-4">
  <div class="max-w-screen-xl mx-auto text-center text-white pt-10">
    <!-- Título principal -->
    <h2 class="text-4xl font-bold mb-4">Te ofrecemos...</h2>
    <p class="text-gray-400 mb-12">Nuestros clientes nos respaldan</p>
 
    <!-- Sección de características -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12">
      {features.map(feature => (
        <div class="flex flex-col items-center">
          <!-- Ícono -->
          <img src={feature.icon} alt={feature.title} class="mb-4 w-16 h-16"  />
          <!-- Título del ítem -->
          <h3 class="text-2xl font-semibold mb-2">{feature.title}</h3>
          <!-- Descripción del ítem -->
          <p class="text-gray-400">{feature.description}</p>
        </div>
      ))}
    </div>
  </div>
</section>
